<div class="nav-links">
  <a href="{{ "/stories/" | relURL }}">stories</a>
  <a href="#">books</a>
  <a href="{{ "/poems/" | relURL }}">poems</a>
  <a href="#">literature</a>
  <a href="{{ "/project/" | relURL }}">project</a>
</div>