{{ define "main" }}
<div>
  <article>
    <header style="margin-top: 1rem; margin-bottom: 1rem">
      <h1>{{ .Title }}</h1>
    </header>
    <div class="content">
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}

