{{ define "main" }}
<div>
  <article>
    <header style="margin-bottom: 1rem">
      <h1>{{ .Title }}</h1>
    </header>
    <div class="content">
      {{ .Content }}
    </div>
    <div class="meta" style="text-align: right">
      <p><strong>{{ .WordCount }} words</strong></p>
    </div>
    {{ $notes := .Params.notes }}
    {{ if $notes }}
    <div class="notes">
      {{ $notes  | markdownify  }}</div>
    {{ end }}
  </article>
</div>
{{ end }}
