{{ define "main" }}
<article>
  <header>
    <h3>{{ .Title }}</h3>
  </header>
  <div>
    {{ .Content }}
  </div>
</article>
<div>
  {{ $paginator := .Paginate (where .Data.Pages "Section" .Section) }}
  <section>
    {{ range $paginator.Pages }}
    <p><a href="{{ .URL }}">{{ .Title }}</a></p>
    {{ end }}
  </section>
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
