{{ define "main" }}
<article>
  {{ .Content }}
</article>

{{ range $.Site.Params.indexSections }}
<section style="margin-top: 2rem">
  <h3>{{ title . }}</h3>
  <div class="post-list">
    {{ range where $.Data.Pages "Section" . }}
    <a href="{{ .URL }}">{{ .Title }}</a>
    {{ end }}
  </div>
</section>
{{ end }}

{{ end }}

