body {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1.2rem;
}

#masthead {
  padding-bottom: 0.6rem;
  border-bottom: 2px solid #eee;
  margin-bottom: 1.4rem;
}

#masthead a,
#footer a {
  color: black;
}

#home {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  display: block;
}

#footer {
  margin-top: 1.4rem;
  border-top: 2px solid #eee;
  padding-top: 1rem;
}

.notes {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.4rem;
  background-color: whitesmoke;
}

.nav-links a {
  padding: 0.2rem 0.4rem 0.2rem 0;
}

#open-source {
  margin-top: 1.4rem;
  border-top: 2px solid #eee;
  padding-top: 1.4rem;
}

.post-list a {
  display: block;
}